body{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 25px;
}
img{
    padding-top: 20px;
}
.container {
    display: flex;
  }
  .image {
    flex-basis: 40%
  }
  .text {
      flex-basis: 60%
  }
.container2 {
    display: flex;
}
    .image2 {
        flex-basis: 50%
    }
.container3 {
    display: flex;
}
    .image3 {
        flex-basis: 65%
    }
    .image4 {
        flex-basis: 35%
    }
h1 {
    font-size: 75px;
    text-align: center;
}
#list-text {
    font-size: 25px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
figcaption {
    font-style: italic;
}